<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Advent of Code</title>
        <style>
            #answer {
                font-size: 25px;
            }
        </style>
    </head>
    <body>
        <p id="answer"></p>

        <script type="module">
            import FileReader from '../../FileReader.js';
            import Parser from './Parser.js';

            const fileReader = new FileReader('./datatest.txt', new Parser());
            const data = await fileReader.parse();

            const startTime = new Date().getTime();

            console.log(data);

            console.log('Time taken:', new Date().getTime() - startTime);

            // document.querySelector('#answer').innerText =
        </script>
    </body>
</html>
